 .google {
     text-align: center;
     margin-top: 20%;
 }
 
 #search {
     text-align: center;
 }
 
 form {
     background-color: #eeecec;
 }
 
 #left {
     float: left;
     width: 35%;
     background-color: rgb(106, 207, 185);
 }
 
 #mitte {
     background-color: teal;
 }
 
 #recht {
     float: right;
     background-color: rgb(34, 194, 141);
     width: 40%;
 }