 .google {
     text-align: center;
     margin-top: 20%;
 }
 
 #search {
     text-align: center;
 }
 
 form {
     background-color: #eeecec;
 }
 
 .container {
     display: flex;
     justify-content: space-between;
     align-items: center;
 }
 
 #left {
     background-color: rgb(106, 207, 185);
 }
 
 #mitte {
     background-color: rgb(70, 160, 160);
 }
 
 #recht {
     background-color: teal;
 }
 
 footer {
     text-align: center;
 }