 .google {
     text-align: center;
     margin-top: 20%;
 }
 
 #search {
     text-align: center;
 }
 
 form {
     background-color: #eeecec;
 }
 
 #left {
     float: left;
     width: 35%;
 }
 
 #mitte {}